[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.12"

[packages]
aws-lambda-powertools = "*"
boto3-stubs = { extras = ["ec2" ], version = "*"}
crhelper = "*"

[dev-packages]
cfn-lint = "*"
flake8 = "*"
moto = {extras = ["ec2", "sts"], version = "*"}
mypy = "*"
pylint = "*"
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
pytest-pylint = "*"
tox = "*"
mypy_boto3_logs = "*"

[scripts]
#install-lambda-functions = "pipenv install -r src/requirements.txt"
test = "pytest -vv --cov src --cov-report term-missing --cov-fail-under 95 tests"
unit-test = "pytest -vv --cov src --cov-report term-missing --cov-fail-under 95 tests/unit"
integ-test = "pytest -vv --cov src --cov-report term-missing --cov-fail-under 95 tests/integration"
flake8 = "flake8"
lint = "pylint"